{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<div class="cards-listing">
    <div class="row">
        <div class="card view-update {{ post.pk }}">
            <div class="card__panel-head">
                <div class="poster__info">
                    <h1>Delete Post</h1>

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Do you wante to delete "{{post.title}}" ?</p>
                        <button type="submit">Delete</button>
                    </form>

                 </div>
            </div>
        </div>
     </div>
</div>

{% endblock content%}